{% extends 'norrisjokes/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'norrisjokes/css/main.css' %}">

    </div>
    <div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>categories</th>
                <th>created_at</th>
                <th>icon_url</th>
                <th>id</th>
                <th>updated_at</th>
                <th>url</th>
                <th>value</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{ jokes.categories }}</td>
                <td>{{ jokes.created_at }}</td>
                <td>{{ jokes.icon_url}}</td>
                <td>{{ jokes.id }}</td>
                <td>{{ jokes.updated_at }}</td>
                <td>{{ jokes.url }}</td>
                <td>{{ jokes.value }}</td>
            </tr>
            
        </tbody>
    </table>
    </div>
{% endblock content %}
